body {
    /*font-family: 'Roboto', sans-serif;*/
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.navbar-brand {
    color: red !important;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.sidebar {
    min-width: 170px;
    /* position: fixed; */
    /* top: 51px; */
    /* bottom: 0; */
    /* left: 0; */
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.main .page-header {
    margin-top: 51px;
}

.main {
    padding: 20px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.paginate_button:hover {
    color: #3C9EF3;
    border: 1px solid #87cefa;
    box-sizing: border-box;
    background-color: rgb(231, 251, 255);
}

.paginate_button {
    text-decoration: none!important;
    display: block;
    float: left;
    width: 38px;
    margin-right: 3px;
    padding: 8px;
    text-align: center;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(236, 236, 236);
    cursor: pointer;
}

.question-input {
    padding: 7px;
    padding-left: 0;
}

.leg {
    padding: 1px 7px;
    background-color: gray;
    border-radius: 3px;
    border: 1px solid gray;
    margin-right: 10px;
}

.leg-hd {
    background-color: rgb(58, 137, 204);
}

.leg-di {
    background-color: rgb(63, 170, 202);
}

.leg-cr {
    background-color: rgb(63, 156, 63);
}

.leg-pa {
    background-color: rgb(252, 194, 112);
}

.leg-nn {
    background-color: rgb(245, 113, 109);
}

.legend-list li {
    margin-bottom: 10px;
}