body {
    font-family: 'Helvetica Neue', sans-serif;
}

.answer {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 20px;
}

.answer:hover {
    border: 1px solid rgb(0, 172, 241);
    background-color: rgb(231, 251, 255);
}

.selected {
    border: 1px solid rgb(0, 172, 241);
    background-color: rgb(205, 247, 255);
}

.success {
    border: 1px solid #306A00;
    background-color: #EEFFED;
}

.danger {
    border: 1px solid #6A0000;
    background-color: #FFEDED;
}

.answer input {
    margin-right: 10px;
}

button {
    background-image: none !important;
}

.navbar-brand {
    color: red !important;
}

.navbar-link {
    color: #428bca !important;
}

.footer {
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    margin-top: 30px;
}

.clear-top {
    margin-top: 70px;
    display: block;
}

.label {
    font-weight: normal;
}

.correct {
    border: 1px solid rgb(0, 152, 16);
    background-color: rgb(205, 255, 213);
}

.incorrect {
    border: 1px solid rgb(152, 0, 0);
    background-color: rgb(255, 205, 205);
}

@media screen and (max-width: 368px) {
    img.smallResolution{
        max-width: 90%;
    }

}

.key {
    padding: 10px 20px 10px 0px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

button:focus {
    outline: none !important;
}

.datatable-pagination {
    float: left
}
.datatable-pagination>a {

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    background-color: #f5f5f5;

    padding: 4px 12px;
    text-align: center;
    text-decoration: none!important;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle
}
.datatable-pagination>a+a {
    margin-left: -1px
}
.datatable-pagination>a:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px
}
.datatable-pagination>a:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px
}
.datatable-pagination>a:hover {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #f5f5f5, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
    background-image: -o-linear-gradient(top, #f5f5f5, #e6e6e6);
    background-image: linear-gradient(to bottom, #f5f5f5, #e6e6e6);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe6e6e6', GradientType=0)
}
.datatable-pagination>a.paginate_disabled_previous, .datatable-pagination>a.paginate_disabled_next {
    cursor: default
}
.datatable-pagination>a.paginate_disabled_previous i, .datatable-pagination>a.paginate_disabled_next i {
    opacity: .5;
    filter: alpha(opacity=50)
}
.datatable-pagination>a span {
    display: none
}

.lb-info {
    margin-top: -20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 20px;
    font-size: 14px;
}

.pn-pre {
    border-top-left-radius: 0
}

td {
    background-color: white !important;
}

table, tr, td {
    border: none !important;
}

table {
    margin: 0 !important;
}

a.paginate_button {
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    padding: 8px;
    text-align: center;
    background-color: #f5f5f5;
    margin: 1px;
    text-decoration: none;
    cursor: pointer;
}

a.paginate_button:hover {

    background-color: #efefef;
}

a.current, a.current:hover {
    background-color: lightgray;
    color: gray;
    cursor: default;
}