body {
    font-family: 'Helvetica Neue', sans-serif;
}

.answer {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 20px;
}

.answer:hover {
    border: 1px solid rgb(0, 172, 241);
    background-color: rgb(231, 251, 255);
}

.selected {
    border: 1px solid rgb(0, 172, 241);
    background-color: rgb(205, 247, 255);
}

.success {
    border: 1px solid #306A00;
    background-color: #EEFFED;
}

.danger {
    border: 1px solid #6A0000;
    background-color: #FFEDED;
}

.answer input {
    margin-right: 10px;
}

button {
    background-image: none !important;
}

.navbar-brand {
    color: red !important;
}

.navbar-link {
    color: #428bca !important;
}

.footer {
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    margin-top: 30px;
}

.clear-top {
    margin-top: 70px;
    display: block;
}

.label {
    font-weight: normal;
}

.correct {
    border: 1px solid rgb(0, 152, 16);
    background-color: rgb(205, 255, 213);
}

.incorrect {
    border: 1px solid rgb(152, 0, 0);
    background-color: rgb(255, 205, 205);
}

@media screen and (max-width: 368px) {
    img.smallResolution{
        max-width: 90%;
    }

}

.key {
    padding: 10px 20px 10px 0px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

button:focus {
    outline: none !important;
}